.centered {
  text-align: center;
}

.header-top {
  display: flex;
  justify-content: space-between;
  margin: auto 20px;
}

#labelName {
  align-self: center;
  width: 20%;
}

#submitBtn {
  align-self: center;
  width: 100px;
}